<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <form method="post" action="/users">
        <label>Nombre</label>
        <input type="text" name="nombre">
        <label>apellido</label>
        <input type="text" name="apellido">
        <button>Send</button>
    </form>
    
    <%- include('./partials/tablaUsers.ejs', {users:users}) %>
</body>
</html>