<form method="post" action="/productos" class="">
    <div class="form-group col">
        <label>Producto</label>
        <input class="input"  type="text" name="producto">
        <label>Precio</label>
        <input class="input"  type="number" name="precio">
        <label>URL</label>
        <input  class="input"  type="text" name="url">
        <button type="submit" class="btn btn-primary" >Enviar</button>
    </div>
</form>
<a href="./productos"><button class="btn btn-primary">Ver Productos</button></a>